<%- layout('/boilerplate/boilerplate') %>
    <% if( products){ %>
        <div class="cart-main-container">
            <div class="left-body-container">
                <div id="myBag">MY BAG
                    <span><a href="">Clear Cart</a></span>
                    <div id="borderBottom"></div>
                </div>
                <ul class="cart-list">
                    <li>
                        <% for(let product of products){ %>
                            <div class="cart-body-container">
                                <div class="left-img-cart-body">
                                    <img src="<%=product.item.image %>" alt="">
                                </div>
                                <div class="right-cart-detail-body">
                                    <div id="cart-item-price">&#x20B9; <%=product.item.price%>
                                    </div>
                                    <div id="cart-item-title">
                                        <%=product.item.title %>
                                    </div>
                                    <div id="cart-item-quantity">Qty <%=product.qty %>
                                    </div>
                                    <div id="cart-item-delete"><a href="">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </li>
                </ul>
            </div>

            <div class="right-body-container">
                <strong>TOTAL</strong>
                <div id="borderBottom"></div>
                <div class="left-subtotal">
                    <span>Sub-total</span>
                    <span id="subtotalPrice">&#x20B9; <%=totalPrice %> </span>
                </div>
                <div class="left-subtotal">
                    <span>Delivery</span>
                    <span id="subtotalPrice"> &#x20B9; 150</span>
                </div>
                <div class="left-subtotal total">
                    <span>Total</span>
                    <span id="subtotalPrice">&#x20B9;<%=totalPrice+150 %> </span>
                </div>
                <div class="checkout">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71H9iX%2B14pL._AC_SL1500_.jpg" alt="">
                    
                        <a href="/checkout"><button id="checkoutBtn"><span>Checkout</span></button></a>
                    
                </div>
            </div>
        </div>
        <% } else { %>
            <div class="cart-main-container">
                <div class="cart-body-container">
                    <ul class="cart-list">
                        <h1>No Items in Cart</h1>

                    </ul>
                </div>
            </div>
            <% } %>